<main>
  <section class="hero">
    <div class="hero-content">
      <h1>Find the perfect dog breed for you</h1>
      <p>Discover the best dog breed for you and your family</p>
      <button class="button primary" routerLink="/breeds/page/1">get started</button>
    </div>
    <figure>
      <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a AFFENPINSCHER">
    </figure>
  </section>

  <section id="breeds">
    <h2>Popular Breeds</h2>
    <div class="breeds-container">
      <div class="breed" *ngFor="let dog of dogsBreeds" routerLink="/breed/{{dog.id}}">
        <figure>
          <img [src]="dog.image.url" alt="img of a {{dog.name}}">
        </figure>
        <div class="breed-content">
          <h3>{{dog.name}}</h3>
        </div>
      </div>
    </div>
    <a class="mx-auto w-fit button primary" routerLink="/breeds/page/1">See all breeds +</a>
  </section>

  <section id="breeds-commentaries">
    <h2>What people are saying about their dogs</h2>
    <div class="commentaries-container">
      <div class="commentary" *ngFor="let dog of dogsCommentaries" routerLink="/breed/{{dog.id}}">
        <figure>
          <img [src]="dog.image.url" alt="img of a {{dog.name}}">
        </figure>
        <div class="commentay-content">
          <p>{{dog.commentaries[0].comment}}</p>
          <h3>{{dog.commentaries[0].userName}}</h3>
        </div>
      </div>
    </div>
  </section>
</main>