<main>
  <section class="hero">
    <div class="hero-content">
      <h1>Find the perfect dog breed for you</h1>
      <p>Discover the best dog breed for you and your family</p>
      <button class="button primary">get started</button>
    </div>
    <figure>
      <img src="https://cdn2.thedogapi.com/images/_gn8GLrE6.jpg" alt="img of a dog">
    </figure>
  </section>

  <section id="breeds">
    <h2>Popular Breeds</h2>
    <div class="breeds-container">
      <div class="breed">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/S1fFlx5Em.jpg" alt="img of a dog">
        </figure>
        <h3>Labrador Retriever</h3>
      </div>
      <div class="breed">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a dog">
        </figure>
        <h3>German Shepherd</h3>
      </div>
      <div class="breed">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/S1fFlx5Em.jpg" alt="img of a dog">
        </figure>
        <h3>Labrador Retriever</h3>
      </div>
      <div class="breed">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a dog">
        </figure>
        <h3>German Shepherd</h3>
      </div>
    </div>
    <a class="button primary">See all breeds +</a>
  </section>

  <section id="breeds-commentaries">
    <h2>What people are saying about their dogs</h2>
    <div class="commentaries-container">
      <div class="commentary">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/S1fFlx5Em.jpg" alt="img of a dog">
        </figure>
        <p>“I love my dog, he is the best thing that ever happened to me”</p>
        <h3>John Doe</h3>
      </div>
      <div class="commentary">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a dog">
        </figure>
        <p>“I love my dog, he is the best thing that ever happened to me”</p>
        <h3>John Doe</h3>
      </div>
      <div class="commentary">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/S1fFlx5Em.jpg" alt="img of a dog">
        </figure>
        <p>“I love my dog, he is the best thing that ever happened to me”</p>
        <h3>John Doe</h3>
      </div>
      <div class="commentary">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a dog">
        </figure>
        <p>“I love my dog, he is the best thing that ever happened to me”</p>
        <h3>John Doe</h3>
      </div>
      <div class="commentary">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a dog">
        </figure>
        <p>“I love my dog, he is the best thing that ever happened to me”</p>
        <h3>John Doe</h3>
      </div>
      <div class="commentary">
        <figure>
          <img src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="img of a dog">
        </figure>
        <p>“I love my dog, he is the best thing that ever happened to me”</p>
        <h3>John Doe</h3>
      </div>
    </div>
  </section>
</main>