<main>
  <section id="breed-info" class="gap-5 grid lg:grid-cols-2">
    <img class="rounded-lg w-full" [src]="breed?.image?.url" [alt]="breed?.name">
    <div>
      <h1 class="mb-5 text-center">{{breed?.name}}</h1>

      <ul>
        <li>History: {{breed?.history}}</li>
        <li>Breed for: {{breed?.bred_for}}</li>
        <li>Origin: {{breed?.origin}}</li>
        <li>Group: {{breed?.breed_group}}</li>
        <li>Weight(Metric): {{breed?.weight?.metric}}</li>
        <li>Weight(Imp): {{breed?.weight?.imperial}}</li>
        <li>Height(Metric): {{breed?.height?.metric}}</li>
        <li>Height(Imp): {{breed?.height?.imperial}}</li>
        <li>Country Code: {{breed?.country_code}}</li>
      </ul>


      <div class="radio-input">
        <label>
          <input type="radio" id="metric" name="unit" value="metric" checked (change)="ChangeUnit($event)">
          <span>Metric</span>
        </label>
        <label>
          <input type="radio" id="imperial" name="unit" value="imperial" (change)="ChangeUnit($event)">
          <span>Imperial</span>
        </label>
        <span class="selection"></span>
      </div>

      <div *ngIf="unit=='metric'">
        <h3>Weight</h3>
        <p>{{breed?.weight?.metric}}</p>
        <h3>Height</h3>
        <p>{{breed?.height?.metric}}</p>
      </div>

      <div *ngIf="unit=='imperial'">
        <h3>Weight</h3>
        <p>{{breed?.weight?.imperial}}</p>
        <h3>Height</h3>
        <p>{{breed?.height?.imperial}}</p>
      </div>
    </div>
  </section>

  <!-- Show the dogs commentary if the dog is loaded -->
  <app-breed-commentary *ngIf="dogLoaded" [GetDogId]="breed.id" [GetDogName]="breed.name"
    [GetUser]="user"></app-breed-commentary>


  <section id="breeds" *ngIf="relatedBreeds.length!=0">
    <h2>Related Breeds</h2>
    <div class="breeds-container">
      <div class="breed" *ngFor="let dog of relatedBreeds" routerLink="/breed/{{dog.id}}">
        <figure>
          <img [src]="dog.image.url" [alt]="dog.name">
        </figure>
        <div class="breed-content">
          <h3>{{dog.name}}</h3>
        </div>
      </div>
    </div>
  </section>
</main>