<main>
  <section id="breed-info" class="grid lg:grid-cols-2 gap-5">
    <img class="rounded-lg w-full" [src]="breed?.image?.url" [alt]="breed?.name">
    <div>
      <h1 class="text-center mb-5">{{breed?.name}}</h1>

      <ul>
        <li>History: {{breed?.history}}</li>
        <li>Breed for: {{breed?.bred_for}}</li>
        <li>Origin: {{breed?.origin}}</li>
        <li>Group: {{breed?.breed_group}}</li>
        <li>Weight(Metric): {{breed?.weight?.metric}}</li>
        <li>Weight(Imp): {{breed?.weight?.imperial}}</li>
        <li>Height(Metric): {{breed?.height?.metric}}</li>
        <li>Height(Imp): {{breed?.height?.imperial}}</li>
        <li>Country Code: {{breed?.country_code}}</li>
      </ul>


      <div class="radio-input">
        <label>
          <input type="radio" id="metric" name="unit" value="metric" checked (change)="ChangeUnit($event)">
          <span>Metric</span>
        </label>
        <label>
          <input type="radio" id="imperial" name="unit" value="imperial" (change)="ChangeUnit($event)">
          <span>Imperial</span>
        </label>
        <span class="selection"></span>
      </div>
      
      <div *ngIf="unit=='metric'">
        <h3>Weight</h3>
        <p>{{breed?.weight?.metric}}</p>
        <h3>Height</h3>
        <p>{{breed?.height?.metric}}</p>
      </div>

      <div *ngIf="unit=='imperial'">
        <h3>Weight</h3>
        <p>{{breed?.weight?.imperial}}</p>
        <h3>Height</h3>
        <p>{{breed?.height?.imperial}}</p>
      </div>
    </div>
  </section>

  <section id="breed-commentary" class="bg-accent p-5 md:mx-5 md:rounded-lg">

    <h2 class="text-center">What people are saying about {{breed?.name}}</h2>

    <div class="commentaries-container mt-5 grid gap-5">
      <article class="bg-secondary p-5 rounded-lg" *ngIf="breed?.commentaries.length == 0">
        <p class="text-[15px] tracking-[5px]">No Comments!</p>
      </article>

      <article class="bg-secondary p-5 rounded-lg" *ngFor="let commentary of slicedCommentaries.reverse()">
        <p class="mb-2 text-[15px] tracking-[2px]">{{commentary.comment}}</p>
        <h3 class="text-end">- {{commentary.userName}}</h3>
      </article>
    </div>

    <div>
      <label for="comment" class="block text-[20px] tracking-[3px] uppercase font-bold mt-5 mb-2">Leave a
        comment</label>
      <textarea name="comment" id="comment" rows="4" class="w-full rounded-lg p-5 outline-none"
        placeholder="Leave a comment ..."></textarea>
      <p id="commentError" class="font-bold text-[20px] my-5">{{commentMessageStatus}}</p>
      <button class="button primary w-full" [ngClass]="{'opacity-50 pointer-events-none': sendingComment}"
        (click)="AddCommentary()">Add</button>
    </div>
  </section>


  <section id="breeds" *ngIf="relatedBreeds.length!=0">
    <h2>Related Breeds</h2>
    <div class="breeds-container">
      <div class="breed" *ngFor="let dog of relatedBreeds" routerLink="/breed/{{dog.id}}">
        <figure>
          <img [src]="dog.image.url" [alt]="dog.name">
        </figure>
        <div class="breed-content">
          <h3>{{dog.name}}</h3>
        </div>
      </div>
    </div>
  </section>
</main>