<header>
  <div id="main-header">
    <p class="logo" routerLink="/" (click)="CloseMobileNavBar()">sniffsnack</p>
    <button (click)="ButtonToggleMobileNavBar()" id="toggle-nav" class="close"></button>
    <nav id="main-nav">
      <ul>
        <li routerLink="/breeds/page/1" *ngIf="user != null"><span routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">dog
            breeds</span></li>
        <li routerLinkActive="active" *ngIf="user != null"><span>search</span></li>
        <li routerLinkActive="active" *ngIf="user != null"><span>Account</span></li>
        <li *ngIf="user == null" routerLink="/access">
          <span>sign in</span>
        </li>
        <li *ngIf="user == null" routerLink="/access">
          <span>sign up</span>
        </li>
      </ul>
    </nav>
  </div>

  <div id="mobile-nav">
    <nav>
      <ul>
        <li routerLink="/breeds/page/1"><span routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">dog
            breeds</span></li>
        <li routerLinkActive="active"><span>search</span></li>
        <li routerLinkActive="active" *ngIf="user != null"><span>Account</span></li>
        <li *ngIf="user == null">
          <span>sign in</span>
        </li>
        <li *ngIf="user == null">
          <span>sign up</span>
        </li>
      </ul>
    </nav>
  </div>

  <div id="mobile-header-bg" (click)="CloseMobileNavBar()"></div>
</header>