<header>
  <div id="main-header">
    <p class="logo" routerLink="/" (click)="CloseMobileNavBar()">sniffsnack</p>
    <button (click)="ButtonToggleMobileNavBar()" id="toggle-nav" class="close"></button>
    <nav id="main-nav">
      <ul *ngIf="user.length != 0">
        <li routerLink="/breeds/page/1">
          <span routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">dog breeds</span>
        </li>
        <li routerLinkActive="active">
          <span>search</span>
        </li>
        <li routerLinkActive="active">
          <span>Account</span>
        </li>
        <li routerLink="/logout">
          <span>Logout</span>
        </li>
      </ul>

      <ul *ngIf="user.length == 0">
        <li routerLink="/access">
          <span>sign in</span>
        </li>
        <li routerLink="/access">
          <span>sign up</span>
        </li>
      </ul>
    </nav>
  </div>

  <div id="mobile-nav">
    <nav>
      <ul *ngIf="user.length != 0">
        <li routerLink="/breeds/page/1">
          <span routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">dog breeds</span>
        </li>
        <li routerLinkActive="active">
          <span>search</span>
        </li>
        <li routerLinkActive="active">
          <span>Account</span>
        </li>
      </ul>

      <ul *ngIf="user.length == 0">
        <li routerLink="/access">
          <span>sign in</span>
        </li>
        <li routerLink="/access">
          <span>sign up</span>
        </li>
      </ul>
    </nav>
  </div>

  <div id="mobile-header-bg" (click)="CloseMobileNavBar()"></div>
</header>