<main>
  <section>
    <app-insert-todo (TodoEmitted)="ReceiveTodoEmitted($event)"></app-insert-todo>

    <div>
      <div class="change-todo-list">
        <button (click)="ChangeTodoContainer()" [disabled]="containerOnGoing">On Going</button>
        <button (click)="ChangeTodoContainer()" [disabled]="!containerOnGoing">Completed</button>
      </div>

      <div [hidden]="!containerOnGoing" class="todo-container">
        <h2>On Going</h2>
        <p *ngIf="todoOnGoing.length==0">No on going Todo's </p>
        <div *ngFor="let todoOnG of todoOnGoing.reverse()" class="todo-item">
          
          <app-todo-on-going [TodoOnGoing]="todoOnG"></app-todo-on-going>

          <app-todo-complete-button (TodoCompleted)="ReceiveTodoCompletedEmitted($event)"
            [TodoId]="todoOnG.id"></app-todo-complete-button>
        </div>
      </div>

      <div [hidden]="containerOnGoing" class="todo-container">
        <h2>Completed</h2>
        <p *ngIf="todoCompleted.length==0">No completed Todo's</p>
        <div *ngFor="let todoComp of todoCompleted">
          <app-todo-on-going [TodoOnGoing]="todoComp" [TodoFinished]="true"></app-todo-on-going>
        </div>
      </div>
    </div>

  </section>
</main>
<router-outlet />