<div class="breeds-paginification">
  <!-- This button send me to the previous page -->
  <button (click)="GoToPreviousPage()" class="button secondary">-</button>

  <!-- This container will display the total of pages available -->
  <div class="pagination-buttons" #paginationButtons *ngIf="path=='breeds'">
    <button class="button" [ngClass]="{'primary pointer-events-none': pageNumber == dogsInfo.page}"
      *ngFor="let pageNumber of getPageNumbers()" routerLink="/{{path}}" [queryParams]="{page:pageNumber}">
      {{ pageNumber }}
    </button>
  </div>
  <div class="pagination-buttons" #paginationButtons *ngIf="path=='search'">
    <button class="button" [ngClass]="{'primary pointer-events-none': pageNumber == dogsInfo.page}"
      *ngFor="let pageNumber of getPageNumbers()" routerLink="/{{path}}"
      [queryParams]="{dog:searchBreed, page:pageNumber}">
      {{ pageNumber }}
    </button>
  </div>

  <!-- This button send me to the next page -->
  <button (click)="GoToNextPage()" class="button secondary">+</button>
</div>

<div id="breeds">
  <div class="breeds-container">

    <p *ngIf="dogsInfo.dogs.length == 0">No dogs found with {{searchBreed}}</p>

    <div class="breed" *ngFor="let dog of dogsInfo.dogs; let i = index;" [@fadeInItem]="i"
      routerLink="/breed/{{dog.id}}">
      <figure>
        <img [src]="dog.image.url" alt="img of a {{dog.name}}">
      </figure>
      <div class="breed-content">
        <h3>{{dog.name}}</h3>
      </div>
    </div>
  </div>
</div>