<main class="my-40">

  <section id="access">
    <article id="login" [ngClass]="{'active':accessContainer=='login'}">
      <h2>Login</h2>
      <h3>Provide your email address and password.</h3>

      <form class="my-2">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" id="userName" name="userName" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button class="mt-2 button primary">Sign Up</button>
      </form>

      <p>Don't have an account? <span class="text-blue-600 underline" (click)="ChangeContainer('register')">Create an
          account!</span></p>

    </article>

    <article id="register" [ngClass]="{'active':accessContainer=='register'}">
      <h2>Register</h2>
      <h3>Provide your email address and password.</h3>
      <p>Don't have an account? <span class="text-blue-600 underline" (click)="ChangeContainer('login')">Create an
          account!</span></p>
    </article>

  </section>

</main>