<footer>
  <div id="main-footer">
    <p class="logo text-center">sniffsnack</p>
    <nav id="footer-nav">

      <ul *ngIf="user != null">
        <li>dog breeds</li>
        <li>search</li>
        <li>Account</li>
      </ul>

      <ul *ngIf="user == null">
        <li class="mx-auto grid grid-cols-2 gap-5">
          <span class="button primary">sign in</span>
          <span class="button secondary">sign up</span>
        </li>
      </ul>
    </nav>

    <ul class="social">
      <li><img src="../../assets/shared/instagram-svgrepo-com.svg" alt="instagram svg"></li>
      <li><img src="../../assets/shared/social-youtube-svgrepo-com.svg" alt="youtube svg"></li>
    </ul>
  </div>
</footer>