<footer>
  <div id="main-footer">
    <p routerLink="/" class="text-center md:text-start logo">sniffsnack</p>
    <nav id="footer-nav">
      <ul>
        <li routerLink="/breeds/page/1" *ngIf="userApplication.length != 0">
          <span routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">dog breeds</span>
        </li>
        <li routerLinkActive="active" *ngIf="userApplication.length != 0">
          <span>search</span>
        </li>
        <li routerLinkActive="active" *ngIf="userApplication.length != 0">
          <span>Account</span>
        </li>
        <li (click)="LogoutUser()" routerLink="/logout" *ngIf="userApplication.length != 0">
          <span>Logout</span>
        </li>
        <li *ngIf="userApplication.length == 0" routerLink="/access">
          <span>sign in</span>
        </li>
        <li *ngIf="userApplication.length == 0" routerLink="/access">
          <span>sign up</span>
        </li>
      </ul>
    </nav>

    <ul class="social">
      <li><img src="../../assets/shared/instagram-svgrepo-com.svg" alt="instagram svg"></li>
      <li><img src="../../assets/shared/social-youtube-svgrepo-com.svg" alt="youtube svg"></li>
    </ul>

  </div>
</footer>