<footer>
  <div id="main-footer">
    <p routerLink="/" class="logo text-center md:text-start">sniffsnack</p>
    <nav id="footer-nav">
      <ul>
        <li><span>dog breeds</span></li>
        <li><span>search</span></li>
        <li *ngIf="user != null"><span>Account</span></li>
        <li *ngIf="user == null">
          <span>sign in</span>
        </li>
        <li *ngIf="user == null">
          <span>sign up</span>
        </li>
      </ul>
    </nav>

    <ul class="social">
      <li><img src="../../assets/shared/instagram-svgrepo-com.svg" alt="instagram svg"></li>
      <li><img src="../../assets/shared/social-youtube-svgrepo-com.svg" alt="youtube svg"></li>
    </ul>

  </div>
</footer>